@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100svh;
}

body {
  font-family: 'Inconsolata';
  color: coral;
  background: #111521;
}

.trial-container {
  width: 14em;
  height: 12em;
  color: purple;
  outline: solid 2px;
}

.trial-element {
  font-size: 2em;
  font-weight: 100;
  width: 5em;
  height: 4em;
  color: red;
  outline: solid 2px;
}

.matcher-container {
  position: absolute;
  top: 0;
  left: 0;
}
